* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-bottom: 1px solid #444444;
}

#workspaces {
  padding: 0 10px;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: #666666;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.persistent {
  color: #888888;
}

#workspaces button.active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#workspaces button.active.persistent {
  color: #ffffff;
}

#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#clock {
  padding: 0 15px;
  color: #ffffff;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

tooltip label {
  color: #ffffff;
}

#pulseaudio,
#network,
#battery,
#custom-notifications,
#custom-tailscale,
#custom-power {
  padding: 0 10px;
  color: #ffffff;
}

#group-power > *,
#group-volume > * {
  color: #ffffff;
}

#custom-power {
  margin-right: 10px;
}

/* Power Drawer Group */
#group-power {
  margin-right: 10px;
}

/* Volume Drawer Group */
#group-volume {
  margin-right: 0;
}

#pulseaudio {
  min-width: 60px;
}

#group-volume .volume-drawer {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#group-volume:hover .volume-drawer {
  opacity: 1;
}

/* Volume Slider */
#pulseaudio-slider {
  border: none;
  outline: none;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
  outline: none;
}

#pulseaudio-slider trough {
  min-height: 8px;
  min-width: 80px;
  border-radius: 8px;
  background-color: #000000;
  border: 1px solid #666666;
  outline: none;
}

#pulseaudio-slider highlight {
  min-height: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  outline: none;
}

#custom-power-logout,
#custom-power-reboot {
  padding: 0 10px;
}

#group-power .power-drawer {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

#group-power:hover .power-drawer {
  opacity: 1;
}

#custom-separator {
  color: #666666;
}

#custom-vps {
  padding: 0 10px;
  color: #ffffff;
}

#pulseaudio:hover,
#network:hover,
#battery:hover,
#custom-notifications:hover,
#custom-tailscale:hover,
#custom-vps:hover,
#custom-power:hover,
#custom-power-logout:hover,
#custom-power-reboot:hover,
#group-power:hover,
#group-volume:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
